  margin: auto;/*pour centrer mon carré au mileu - à indiquer après d'autres critères margin si existants*/
    width: fit-content; /*pour que le carré s'adapte au contenu*/


    .slide-container{
    width: 00px; /*peut aussi s'exprimer en pourcentage*/
    height: 00px; /* d'abord donner les dimensions de la zone */
    overflow-y: auto; /* pour activer le Scroll vertical */
    padding: px;
    border: 00px solid #ccc;
     background-color: #f9f9f9;
}



margin: 50px;
    justify-content:space-around ;